:root {
    --color-good-dark: #28a745;
    --color-bad-light: #ffc107;
    --color-neutral: #f8f9fa;
}

.spec-item.good-stat {
    background-color: var(--color-good-dark);
    border: 1px solid var(--color-good-dark);
    color: var(--color-white);
}

.spec-item.bad-stat {
    background-color: var(--color-bad-light);
    border: 1px solid var(--color-bad-light);
    color: var(--color-text-dark);
}

.spec-item.neutral-stat {
    background-color: var(--color-neutral);
    border: 1px solid var(--color-neutral);
    color: var(--color-text-gray-medium);
}

.todo-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*! gap: 20px; */
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.suggested-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: var(--color-bg-tertiary);
    border-radius: 12px;
    font-size: 0.8em;
    font-family: "JetBrains Mono", monospace;
    border: 1px solid var(--color-border-input-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.suggested-item .item-details {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.suggested-item .todo-checkbox-wrapper {
    margin-bottom: 0;
    margin-right: 10px;
}

.suggested-item .item-text {
    flex-grow: 1;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.suggested-item .item-name {
    margin: 0;
}

.suggested-item .item-reason {
    margin-top: 5px;
}

.suggested-item .item-price {
    align-self: center;
    margin-left: 10px;
}

.suggested-item .search-btn {
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border-button);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--color-text-gray);
    padding: 0;
    margin-left: auto;
}

.suggested-item .search-btn svg {
    width: 16px;
    height: 16px;
}


.suggested-item .delete-btn {
    margin-top: 0;
    margin-left: 10px;
}

.suggested-item .item-image-container {
  height: 80px;
  width: 80px;
  padding-top: 0;
  margin-right: 15px;
  flex-shrink: 0;
}

.suggested-item .item-image {
  position: static;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.suggested-item.completed .item-text {
    text-decoration: line-through;
    color: var(--color-text-light-gray);
}

@media (max-width: 992px) {
    .todo-list-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {
    .todo-list-grid {
        grid-template-columns: 1fr;
    }
}